.dropdown-menu {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  display: block !important;
  background-color: transparent !important;
}

.dropdown-row {
  padding: 0 !important;
  margin: 10px 0 0 100px !important;
  border: 0 !important;
  width: 800px;
  border: 8px solid #c70025 !important;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  background-color: #f1f1f1f1 !important;
}

.dropdown-grid {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  text-align: center;
}

.dropdown-item {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 15px !important;
  background-color: #f1f1f100 !important;
}

.dropdown-item:hover {
  background-color: #900909 !important;
  color: #ffffff !important;
  padding-left: 30px !important;
  font-weight: bold !important;
}
